<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - One Stack POS</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
          rel="stylesheet">
          <!--data table-->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.css">

    <link rel="stylesheet"
          href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.bootstrap5.css">
    <style>

        body {
            background: #f8f9fa;
        }

        .sidebar {
            width: 260px;
            min-height: 100vh;
            background: #212529;
        }

        .content-wrapper {
            min-height: 100vh;
        }

        .page-content {
            padding: 24px;
        }

        @@media(max-width:991.98px) {
            .sidebar-desktop {
                display: none !important;
            }
        }

    </style>

    @RenderSection("Styles", false)

</head>
<body>

    <div class="d-flex">

        <!-- Sidebar Desktop -->
        <div class="sidebar-desktop">
            <partial name="_Sidebar" />
        </div>

        <!-- Content -->
        <div class="flex-grow-1 content-wrapper">

            <partial name="_Navbar" />

            <main class="page-content">
                @RenderBody()
            </main>

        </div>

    </div>

    <!-- Mobile Sidebar -->
    <div class="offcanvas offcanvas-start"
         tabindex="-1"
         id="mobileSidebar">

        <div class="offcanvas-header">

            <h5 class="offcanvas-title">
                One Stack POS
            </h5>

            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas">
            </button>

        </div>

        <div class="offcanvas-body p-0">

            <partial name="_Sidebar" />

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>

    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.bootstrap5.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>